# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore environment variables files
.env
.env.local
.env.*.local
.env.production
.env.development
# Include example environment variable files
!.env.development.example

# Ignore Hardhat build output
artifacts/
cache/


# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore coverage reports
coverage/

# Ignore Hardhat's test cache
.hardhat_cache/

# Ignore Truffle's test network log
*.log
*.pid
*.seed

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
